/*
--------------------------------------------
MAin
____________________________________________
*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
/*
--------------------------------------------
Navigation Bar
____________________________________________
*/
.icon  {
    font-size: 64px;
}

.nav-bar {


    background-color: #2874f0;
    height: 5em;
    box-shadow: 0px 3px 10px #888888;
}

.nav-bar a {
    color: rgb(253, 216, 4);
}

.nav-logo i,
h1 {
    display: inline-block;
    padding: 0 10px;
}

.nav-logo {
    float: left;
}
.nav-logo h1 {
    color: #fff;
   padding-top: 10px;
}
.nav-logo i {
    color: rgb(241, 179, 7);
    float: right;
}

.nav-options {
    padding-top: 9px;
    float: right;
}

.nav-options li {

    list-style: none;
    display: inline-block;
    padding: 15px 15px;
    font-size: 1.4em;
}

a{
    text-decoration: none;
}

.options a:hover,
.options a:active {
    border-bottom: 2px solid #5a93ee;
    padding-bottom: 7px;
    color: rgb(238, 255, 0);
/*     font-size:101%; */

}
.nav-logo a :hover,nav-logo:active{
    transform:scale(1.1);
}


/*
--------------------------------------------
Footer
____________________________________________
*/
footer{
    background-color: #1e272e;
    height: 6.2rem;
    color: #fff;
}
footer p{
    text-align: center;
}
footer .icon{
    padding-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
footer h1{
    padding-top: 10px;
    font-size: 90%;
}
footer a{
    color: #fff;
}
/*
--------------------------------------------
Products
____________________________________________
*/
.container-1{
    padding:0px 20px;
    box-sizing: border-box;
    padding-top: 10px;
    flex-direction:column;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
/*     margin: 0px 50px; */
/*     justify-content:space-around; */

}
.box-1{
    flex-basis:30%;
    margin: 30px 0;
    padding:10px 15px;
    background-color:#eef0f5;
    box-shadow: 3px 3px 10px #888888;
}
.box-1:hover{
    transform:scale(1.003);
}
.div-title h2{
    font-size: 1.2rem;
}

.div-title h2,img{
    padding-bottom: 15px;

}
.div-title img{
    text-align: center;
}

.btn-delete{
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    background-color: #ef3939;
    text-decoration: none;
    border: 2px solid #b31313;
    border-radius: 15px 50px;
    padding:4px 10px;
}
.btn-delete:hover{
    background-color: #f35151;
}
.total{
    text-align: center;
    padding:10px 0 40px 0;
}
.total-price{
    text-align: center;
    color: rgb(253, 216, 4);
    font-size: 1.4em;
    font-family: 'Ubuntu', sans-serif;
    background-color: #2874f0;
    border-radius: 10px 10px;
    padding :10px 5px;
}
.box-left{
    width:45%;
    padding-right: 10px;
    float:left;
    border-right: 2px solid #dcd7d7;
    /*border-hi*/
}

.box-right{
    width:55%;
    padding-top:10px;
    float:right;
    text-align:left;
    padding-left:10px;
}