/*
--------------------------------------------
MAin
____________________________________________
*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

/*
--------------------------------------------
Media Query
____________________________________________
*/
@media screen and (max-width: 600px)
{
    .nav-options{
        display: none;
    }
    .container-1{
        flex-direction: column;
    }
}
/*
--------------------------------------------
Navigation Bar
____________________________________________
*/
.icon  {
    font-size: 64px;
}

.nav-bar {
    z-index: 99;
    position: fixed;
    background-color: #2874f0;
    height: 5em;
    box-shadow: 0px 3px 10px #888888;
    width: 100%;
}

.nav-bar a {
    color: rgb(253, 216, 4);
}

.nav-logo i,
h1 {
    display: inline-block;
    padding: 0 10px;
}

.nav-logo {
    float: left;
}
.nav-logo h1 {
    color: #fff;
   padding-top: 10px;
}
.nav-logo i {
    color: rgb(241, 179, 7);
    float: right;
}

.nav-options {
    padding-top: 9px;
    float: right;
}

.nav-options li {

    list-style: none;
    display: inline-block;
    padding: 15px 15px;
    font-size: 1.4em;
}

a{
    text-decoration: none;
}

.options a:hover,
.options a:active {
    border-bottom: 2px solid #5a93ee;
    padding-bottom: 7px;
    color: rgb(238, 255, 0);
/*     font-size:101%; */

}
.nav-logo a :hover,nav-logo:active{
    transform:scale(1.1);
}


/*
--------------------------------------------
Footer
____________________________________________
*/
footer{
    background-color: #1e272e;
    height: 6.2rem;
    color: #fff;
}
footer p{
    text-align: center;
}
footer .icon{
    padding-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
footer h1{
    padding-top: 10px;
    font-size: 90%;
}
footer a{
    color: #fff;
}
/*
--------------------------------------------
Products
____________________________________________
*/
.products-all{
    padding-top: 90px;
}
.container-1{
    padding:0px 20px;
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    


}
.box-1 div {
    text-align: center;
}
.box-1 a{
    /* margin: auto; */
}
.box-1{
    flex-basis:30%;
    margin: 30px 0;
    padding:10px 15px;
    background-color:#eef0f5;
    box-shadow: 3px 3px 10px #888888;
}
.box-1:hover{
    transform:scale(1.01);
}

.div-title h2,img{
    padding-bottom: 15px;

}
.div-title img{
    text-align: center;
}

.btn-cart,input[type=submit]{
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    background-color: #2874f0;
    text-decoration: none;
    border: 2px solid #2056ad;
    border-radius: 15px 50px;
    padding:14px;
}
.btn-cart:hover{
    background-color: #4583e7;
}

/*
--------------------------------------------
Forms
____________________________________________
*/

.section-form h2{
    text-align: center;
    font-size: 2.2rem;
    color: #2056ad;
    border-bottom: 2px solid  rgb(253, 216, 4);
    padding: 10px 0px;
}
input {
    width: 70%;
    /* padding: 0px 20px; */
}
input[type=text],input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.div-form p{
    padding:10px 0px;
}
span{
    display: block;
    /* padding: 15px 0px 10px 0px; */
}

input[type=submit]{
    width: 10%;
    text-align: center;
}
input[type=textbox]{
    
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.span-radio,.span-checkbox{
    display: inline;
    padding:0px;
}
input[type="radio"] {
    padding-top: 3px;
  }
